html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, del, dfn, em, font, img, kbd, q, s, samp, small, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
background-position:0 0;
background-repeat:no-repeat;
border:0 none;
font-size:100%;
font-style:inherit;
font-weight:inherit;
margin:0;
padding:0;
text-align:left;
vertical-align:baseline;
}
a img, :link img, :visited img {
border:0 none;
}
table {
border-collapse:collapse;
border-spacing:0;
}
ol, ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
q:before, q:after, blockquote:before, blockquote:after {
content:"";
}